<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  
   <table class="1" border="1">
  	<tr>
  	<td Class="2">A. DATOS DEL ESTABLECIMIENTO-EMPRESA Y USUARIO</td>
    </tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">INSTITUCION DEL SISTEMA O NOMBRE DE LA EMPRESA</td>
  	<td Class="1">RUC</td>
  	<td Class="1">CIIU</td>
  	<td Class="1">ESTABLECIMIENTO DE SALUD</td>
  	<td Class="1">NÚMERO DE HISTORIA CLÍNICA</td>
  	<td Class="1">NÚMERO DE ARCHIVO</td>
  	</tr>
  	<tr>
  	<td>{NOMBRE_EMPRESA}</td>
  	<td>{RUC_EMPRESA}</td>
  	<td>{CIUDAD_EMPRESA}</td>
  	<td></td>
  	<td></td>
  	<td></td>
  	</tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PRIMER APELLIDO</td>
  	<td Class="1">SEGUNDO APELLIDO</td>
  	<td Class="1">PRIMER NOMBRE</td>
  	<td Class="1">SEGUNDO NOMBRE</td>
  	<td Class="1">SEXO</td>
  	<td Class="1">EDAD</td>
  	<td Class="1">RELIGION</td>
  	<td Class="1">GRUPO SANGÍNEO</td>
  	<td Class="1">LATERALIDAD</td>
  	</tr>
  	<tr>
  	<td>{PRI_APE_EMPLEADO}</td>
  	<td>{SEG_APE_EMPLEADO}</td>
  	<td>{PRI_NOMBRE_EMPLEADO}</td>
  	<td>{SEG_NOMBRE_EMPLEADO}</td>
  	<td>{SEXO_EMPLEADO}</td>
  	<td>{EDAD_EMPLEADO}</td>
    <td>{RELIGION_EMPLEADO}</td>
  	<td>{GRUPO_SANGUINEO_EMPLEADO}</td>
  	<td></td>
  	</tr>
  	</table>	
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">ORIENTACION SEXUAL</td>
  	<td Class="1">IDENTIDAD DE GÉNERO</td>
  	<td Class="1">DISCAPACIDAD</td>
  	<td Class="1">FECHA DE INGRESO AL TRABAJO</td>
  	<td Class="1">PUESTO DE TRABAJO(CIUO)</td>
  	<td Class="1">ÁREA DE TRABAJO</td>
  	<td Class="1">ACTIVIDADES RELEVANTES AL PUESTO DE TRABAJO A OCUPAR</td>
  	</tr>
  	<tr>
  	<td>{ORIENTACION_SEXUAL}</td>
  	<td>{IDENTIDAD_GENERO}</td>
  	<td>{DISCAPACIDAD_EMPLEADO}</td>
  	<td>{FECHA_INGRESO}</td>
  	<td>{PUESTO_TRABAJO}</td>
  	<td>{AREA_TRABAJO}</td>
    <td>{ACTIVIDADES_TRABAJO}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">B.MOTIVO DE LA CONSULTA (ANOTAR LA CAUSA DEL PROBLEMA EN LA VERSIÓN DEL INFORMANTE)</td>
    </tr>
  	<tr>
  	<td class="3">DESCRIPCIÓN:</td>
  	</tr>
  	<tr>
  	<td class="3">{MOTIVO_CONSULTA}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">C.ANTECEDENTES PERSONALES</td>
    </tr>
    <tr>
  	<td class="1">ANTECEDENTES CLÍNICOS Y QUIRURGICOS:</td>
  	</tr>
  	<tr>
  	<td class="3">DESCRIPCIÓN:</td>
  	</tr>
  	<tr>
  	<td class="3">{ANTECEDENTES_CLINICOS}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="1">ANTECEDENTES GINECO OBSTÉTRICOS:</td>
  	</tr>
  	</table>
  	
    {DETALLE_ANTECEDENTES_GINECO}
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="1">ANTECEDENTES:</td>
  	</tr>
  	</table>
  	
  	
  	{DETALLE_ANTECEDENTES}
  	
  	
  	{DETALLE_PLANIFICACION_FAMILIAR1}
  	
    	
  	<table class="1" border="1">
  	<tr>
  	<td class="1" colspan="6">HÁBITOS TÓXICOS:</td>
  	</table>
  	{DETALLE_HABITOS_TOXICOS}
  	
  	
  
  	<table class="1" border="1">
  	<tr>
  	<td class="1" colspan="4">ESTILO DE VIDA:</td>
  	</tr>
  	</table>
  	{DETALLE_ESTILO_DE_VIDA}
  	
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">D.ANTECEDENTES DE TRABAJO</td>
  	</tr>
    </table>
    <table class="1" border="1">
  	<tr>
  	<td class="1">ANTECEDENTES DE EMPLEOS ANTRIORES</td>
  	</tr>
  	</table>
  	{DETALLE_EMPLEOS_ANTERIORES}
  	<table class="1" border="1">
  	<tr>
  	<td class="1">ACCIDENTES DE TRABAJO(DESCRIPCIÓN)</td>
  	</tr>
  	</table>
  	
  	{ACCIDENTES_TRABAJO}
  	
  	  	<table class="1" border="1">
  	<tr>
  	<td class="1">ENFERMEDADES PROFESIONALES</td>
  	</tr>
  	</table>
  	
  	
    {DETALLE_EMFERMEDADES_PROFESIONALES}
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">E.ANTECEDENTES FAMILIARES(DETALLE PARENTESCO)</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">1)ENFERMEDAD CARDIO-VAZCULAR</td>
  	<td Class="1">2)ENFERMEDAD METABÓLICA</td>
  	<td Class="1">3)ENFERMEDAD NEUROLÓGICA</td>
  	<td Class="1">4)ENFERMEDAD ONCOLÓGICA</td>
  	<td Class="1">5)ENFERMEDAD INFECCIOSA</td>
  	<td Class="1">6)ENFERMEDAD HEREDITARIA/CONGÉNITA</td>
  	<td Class="1">7)DISCAPACIDES</td>
  	<td Class="1">8)OTROS</td>
  	</tr>
  	</table>
  	
  	
  	
  	{DETALLE_ANTECEDENTES_FAMILIARES}
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">F. FACTORES DE RIESGO Y PUESTO DE TRABAJO ACTUAL</td>
  	</tr>
  	</table>
  	
  	
  	
 	{FACTORES_DE_RIESGO}
    

	<table class="1" border="1">
  	<tr>
  	<td Class="2">G.ACTIVIDADES EXTRA LABORALES</td>
    </tr>
  	<tr>
  	<td class="3">Descripción:{ACTIVIDADES_EXTRA}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">H.ENFERMEDAD ACTUAL</td>
    </tr>
  	<tr>
  	<td class="3">Descripción:{EMFERMEDAD_ACTUAL}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">I. REVISIÓN DE ÓRGANOS Y SISTEMAS</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PIEL-ANEXOS</td>
  	<td Class="1">RESPIRATORIO</td>
  	<td Class="1">DIGESTIVO</td>
  	<td Class="1">MÚSCULO ESQUELÉTICO</td>
  	<td Class="1">HEMOLINFÁTICO</td>
  	</tr>
  	<tr>
  	<td Class="1">ÓRGANOS DE LOS SENTIDOS</td>
  	<td Class="1">CARDIO-VASCULAR</td>
  	<td Class="1">GÉNITO URINARIO</td>
  	<td Class="1">ENDOCRINO</td>
  	<td Class="1">NERVIOSO</td>
  	</tr>
  	</table>	
  	
  	{DETALLE_REVISION_ORGANOS}
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">J. CONSTANTES VITALES Y ANTROPOMETRÍA</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PRESIÓN ARTERIAL(mmHg)</td>
  	<td Class="1">TEMPERATURA(°c)</td>
  	<td Class="1">FRECUENCIA CARDIACA(lat/min)</td>
  	<td Class="1">SATURACIÓN DE OXÍGENO(02%)</td>
  	<td Class="1">FRECUENCIA RESPIRATORIA(fr/min)</td>
  	<td Class="1">PESO(kg)</td>
  	<td Class="1">TALLA(cm)</td>
  	<td Class="1">ÍNDICE DE MASA CORPORAL(kg/m2)</td>
  	<td Class="1">PERÍMETRO ABDOMINAL(cm)</td>
  	</tr>
  	<tr>
	<td class="3">{PRSION_VITAL_CONSTANTE}</td>
	<td class="3">{TEMPERATURA_CONSTANTE}</td>
	<td class="3">{FRECUENCIA_CARDIACA}</td>
	<td class="3">{SATURACION_OXIGENO}</td>
	<td class="3">{FRECUENCIA_RESPIRATORIA}</td>
	<td class="3">{PESO_CONSTANTE}</td>
	<td class="3">{TALLA_CONSTANTE}</td>
	<td class="3">{MASA_CORPORAL}</td>
	<td class="3">{PERIMETRO_ABDOMINAL}</td>
    </tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">K.EXÁMEN FÍSICO REGIONAL</td>
  	</tr>
  	</table>
  	
  	{DETALLE_EXAMEN_FISICO_REGIONAL}
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="3">L.RESULTADOS DE EXÁMENES GENERALES Y ESPECÍFICOS DE ACUERDO AL RIESGO Y PUESTO DE TRABAJO (IMAGEN, LABORATORIO Y OTROS)</td>
  	</tr>
  	
  	</table>
  	
  	{DETALLE_RESULTADO_EXAMEN}
  	
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="2">M.DIAGNÓSTICO PRE=PRESUNTIVO DEF=DEFINITIVO (Observación)</td>
  	<td Class="2">CIE</td>
  	<td Class="2">TIPO</td>
	</tr>
    </table>
    
    {DIAGNOSTICO}
    
    <table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="2">N.APTITUD MÉDICA PARA EL TRABAJO</td>
  	</tr>
  	<tr>
  	<td Class="1" colspan="2">APTITUD MÉDICA PARA EL TRABAJO</td>
  	</tr>
  	<tr>
  	<td Class="4" width="150px">Aptitud:</td>
  	<td Class="3">{NOMBRE_APTITUD}</td>
  	</tr>
  	<tr>
  	<td Class="4" width="150px">Observaciones:</td>
  	<td Class="3">{OBSERVACION_APTITUD}</td>
  	</tr>
  	<tr>
  	<td Class="4" width="150px">Limitación:</td>
  	<td Class="3">{LIMITACION_APTITUD}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">O.RECOMENDACIONES Y/O TRATAMIENTO</td>
    </tr>
  	<tr>
  	<td class="3">Descripción:</td>
  	</tr>
  	<tr>
  	<td class="3">{TRATAMIENTO}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="3">CERTIFICO QUE LO ANTERIORMENTE EXPRESADO EN RELACIÓN A MI ESTADO DE SALUD ES VERDAD. SE ME HA INFORMADO LAS MEDIDDAS PREVENTIVAS
  	PARA DISMINUIR O MITIGAR LOS RIESGOS RELACIONADOS CON MI ACTIVIDAD LABORAL</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="2" colspan="10">P.DATOS DEL PROFESIONAL</td>
  	<td class="2">Q.FIRMA DEL USUARIO</td>
  	</tr>
  	<tr>
  	<td class="1">Fecha(aaaa/mm/dd)</td>
  	<td class="3">{FECHA_REGISTRO}</td>
  	<td class="1">HORA</td>
  	<td class="3">{HORA_REGISTRO}</td>
  	<td class="1">NOMBRES Y APELLIDOS</td>
  	<td class="3">{NOMBRE_USUARIO}</td>
  	<td class="1">CÓDIGO</td>
  	<td class="3">{CODIGO_REGISTRO}</td>
  	<td class="1">FIRMA Y SELLO</td>
  	<td class="3"></td>
  	<td class="3"></td>
  	</tr>
  	</table>
  	


  </body>
  </html>