

table.1 {
   width: 100%;
   font-size:14px;
   border-collapse: collapse;
   caption-side: top;
   text-align:center;
   font-size: 12px;
   
}

table.2 {
   width: 60%;
   font-size:14px;
   border-collapse: collapse;
   caption-side: top;
   text-align:center;
   font-size: 12px;
   
}
table.3 {
   width: 70%;
   font-size:14px;
   border-collapse: collapse;
   caption-side: top;
   text-align:center;
   font-size: 12px;
   
}

td.1{
	   text-align:left;
	   background-color: #5FEB8D;

	}
	
td.2{
	   text-align:left;
	   background-color: #A2B2D6;
	   height: 25px;
	}
	
td.3{
	   text-align:left;
	   
	}
	
td.4{
	   text-align:center;
	   background-color: #8FFEF9;
	   
	}
	
	
	td.5{
	   text-align:center;
	   width: 75px;
	   
	}
	
td.6{
	   text-align:center;
	   background-color: #8FFEF9;
	   width: 75px;
	   
	}
	
	td.7{
	   text-align:center;
	  
	   
	}
