<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">INSTITUCION DEL SISTEMA O NOMBRE DE LA EMPRESA</td>
  	<td Class="1">RUC</td>
  	<td Class="1">CIIU</td>
  	<td Class="1">ESTABLECIMIENTO DE SALUD</td>
  	<td Class="1">NÚMERO DE HISTORIA CLÍNICA</td>
  	<td Class="1">NÚMERO DE ARCHIVO</td>
  	</tr>
  	<tr>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	</tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PRIMER APELLIDO</td>
  	<td Class="1">SEGUNDO APELLIDO</td>
  	<td Class="1">PRIMER NOMBRE</td>
  	<td Class="1">SEGUNDO NOMBRE</td>
  	<td Class="1">SEXO</td>
  	<td Class="1">PUESTO DE TRABAJO</td>
  	</tr>
  	<tr>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
	</tr>
  	</table>	
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">B.MOTIVO DE LA CONSULTA</td>
    </tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">C.ANTECEDENTES PERSONALES</td>
    </tr>
    <tr>
  	<td class="1">ANTECEDENTES CLÍNICOS Y QUIRURGICOS:</td>
  	</tr>
  	<tr>
  	<td class="3">DESCRIPCIÓN:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="1" colspan="6">HÁBITOS TÓXICOS:</td>
  	<td class="1" colspan="4">ESTILO DE VIDA:</td>
  	</tr>
  	<tr>
  	<td class="4">CONSÚMOS NOCIVOS</td>
  	<td class="4">SI/NO</td>
  	<td class="4">TIEMPO DE CONSUMO</td>
  	<td class="4">CANTIDAD</td>
  	<td class="4">EX CONSUMIDOR</td>
  	<td class="4">TIEMPO DE ABSTINENCIA</td>
  	<td class="4">ESTILO</td>
  	<td class="4">SI/NO</td>
  	<td class="4">¿CUÁL?</td>
  	<td class="4">TIEMPO/CANTIDAD</td>
  	</tr>
  	<tr>
  	<td class="3">TABACO</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">ACTIVIDAD FÍSICA</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">ALCOHÓL</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3" rowspan="3">MEDICACIÓN HABITUAL</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">OTRAS DROGAS</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="1">INCIDENTES:</td>
  	</tr>
  	<tr>
  	<td class="3">Describir los principales incidentes suciados:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
    
  	
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="1">ANTECEDENTES DE TRABAJO(DESCRIPCIÓN)</td>
  	</tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td class="3"> FUE CALIFICADO POR EL INSTITUTO DE SEGURIDAD SOCIAL CORRESPONDIENTE:</td>
  	<td class="3">SI</td>
  	<td class="3">ESPECIFICAR:&nbsp; {}</td>
  	<td class="3">NO</td>
  	<td class="3">FECHA:&nbsp; {}</td>
  	</tr>
  	<tr>
  	<td class="3" colspan="5">Observaciones:</td>
  	</tr>
  	<tr>
  	<td class="3" colspan="5">{}</td>
  	</tr>
  	<tr>
  	<td class="3" colspan="5">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="1">ENFERMEDADES PROFESIONALES</td>
  	</tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td class="3">FUE CALIFICADA POR EL INSTITUTO DE SEGURIDAD SOCIAL CORRESPONDIENTE: </td>
  	<td class="3">SI</td>
  	<td class="3">ESPECIFICAR:&nbsp; {}</td>
  	<td class="3">NO</td>
  	<td class="3">FECHA:&nbsp; {}</td>
  	</tr>
  	<tr>
  	<td class="3" colspan="5">Observaciones:</td>
  	</tr>
  	<tr>
  	<td class="3" colspan="5">{}</td>
  	</tr>
  	<tr>
  	<td class="3" colspan="5">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">D.ANTECEDENTES FAMILIARES(DETALLE PARENTESCO)</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">ENFERMEDAD CARDIO-VAZCULAR</td>
  	<td Class="1">ENFERMEDAD METABÓLICA</td>
  	<td Class="1">ENFERMEDAD NEUROLÓGICA</td>
  	<td Class="1">ENFERMEDAD ONCOLÓGICA</td>
  	<td Class="1">ENFERMEDAD INFECCIOSA</td>
  	<td Class="1">ENFERMEDAD HEREDITARIA/CONGÉNITA</td>
  	<td Class="1">DISCAPACIDES</td>
  	<td Class="1">OTROS</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="8">Observaciones:</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="8">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="8">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">E.FACTORES DE RIESGOS DEL PUESTO DEL TRABAJO</td>
  	</tr>
  	</table>
 
    <table class="1" border="1">
  	<tr>
  	<td Class="1" rowspan="2">PUESTO DE TRABAJO/ÁREA</td>
  	<td Class="1" rowspan="2">ACTIVIDADES</td>
  	<td Class="1" rowspan="2">TIEMPO DE TRABAJO(meses)</td>
  	<td Class="1" colspan="1">FÍSICO</td>
  	<td Class="1" colspan="1">MECÁNICO</td>
  	<td Class="1" colspan="1">QUÍMICO</td>
  	<td Class="1" colspan="1">BIOLÓGICO</td>
  	<td Class="1" colspan="1">ERGONÓMICO</td>
  	</tr>
  	<tr>
  	<td Class="1">{}</td>
  	<td Class="1">{}</td>
  	<td Class="1">{}</td>
  	<td Class="1">{}</td>
  	<td Class="1">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1" rowspan="2">PUESTO DE TRABAJO/ÁREA</td>
  	<td Class="1" rowspan="2">ACTIVIDADES</td>
  	<td Class="1" rowspan="2">TIEMPO DE TRABAJO(meses)</td>
  	<td Class="1" colspan="1">PSICOSOCIAL</td>
  	<td Class="1" rowspan="2">MEDIDAS PREVENTIVAS</td>
  	</tr>
  	<tr>
  	<td Class="1">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	</table>

	<table class="1" border="1">
  	<tr>
  	<td Class="2">F.ENFERMEDAD ACTUAL</td>
    </tr>
  	<tr>
  	<td class="3">Descripción:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	

  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">G. REVISIÓN DE ÓRGANOS Y SISTEMAS</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PIEL-ANEXOS</td>
  	<td Class="1">RESPIRATORIO</td>
  	<td Class="1">DIGESTIVO</td>
  	<td Class="1">MÚSCULO ESQUELÉTICO</td>
  	<td Class="1">HEMOLINFÁTICO</td>
  	</tr>
  	<tr>
  	<td Class="1">ÓRGANOS DE LOS SENTIDOS</td>
  	<td Class="1">CARDIO-VASCULAR</td>
  	<td Class="1">GÉNITO URINARIO</td>
  	<td Class="1">ENDOCRINO</td>
  	<td Class="1">NERVIOSO</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="5">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="5">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="5">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="5">{}</td>
  	</tr>
  	</table>	
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">H. CONSTANTES VITALES Y ANTROPOMETRÍA</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PRESIÓN ARTERIAL(mmHg)</td>
  	<td Class="1">TEMPERATURA(°c)</td>
  	<td Class="1">FRECUENCIA CARDIACA(lat/min)</td>
  	<td Class="1">SATURACIÓN DE OXÍGENO(02%)</td>
  	<td Class="1">FRECUENCIA RESPIRATORIA(fr/min)</td>
  	<td Class="1">PESO(kg)</td>
  	<td Class="1">TALLA(cm)</td>
  	<td Class="1">ÍNDICE DE MASA CORPORAL(kg/m2)</td>
  	<td Class="1">PERÍMETRO ABDOMINAL(cm)</td>
  	</tr>
  	<tr>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
    </tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">I.EXÁMEN FÍSICO REGIONAL</td>
  	</tr>
  	<tr>
  	<td Class="1">REGIONES</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">Observaciones:</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="3">J.RESULTADOS DE EXÁMENES GENERALES Y ESPECÍFICOS DE ACUERDO AL RIESGO Y PUESTO DE TRABAJO (IMAGEN, LABORATORIO Y OTROS)</td>
  	</tr>
  	<tr>
  	<td Class="1">EXÁMEN</td>
  	<td Class="1">FECHA(aaaa/mm/dd)</td>
  	<td Class="1">RESULTADOS</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="3">Observaciones:{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="2">K.DIAGNÓSTICO PRE=PRESUNTIVO DEF=DEFINITIVO</td>
  	<td Class="2">CIE</td>
  	<td Class="2">PRE</td>
  	<td Class="2">DEF</td>
  	</tr>
  	<tr>
  	<td Class="1" width="30px">1.</td>
  	<td Class="3">Observaciones:{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="1" width="30px">2.</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="1" width="30px">3.</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	</table>
    <table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="2">L.APTITUD MÉDICA PARA EL TRABAJO</td>
  	</tr>
  	<tr>
  	<td Class="1" width="150px">{}</td>
  	</tr>
  	<tr>
  	<td Class="4" width="150px">Observaciones:</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="4" width="150px">Limitación:</td>
  	<td Class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">M.RECOMENDACIONES Y/O TRATAMIENTO</td>
    </tr>
  	<tr>
  	<td class="3">Descripción:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="3">CERTIFICO QUE LO ANTERIORMENTE EXPRESADO EN RELACIÓN A MI ESTADO DE SALUD ES VERDAD. SE ME HA INFORMADO LAS MEDIDDAS PREVENTIVAS
  	A TOMAR PARA DISMINUIR O MITIGAR LOS RIESGOS RELACIONADOS CON MI ACTIVIDAD LABORAL</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="2" colspan="10">N.DATOS DEL PROFESIONAL</td>
  	<td class="2">O.FIRMA DEL USUARIO</td>
  	</tr>
  	<tr>
  	<td class="1">Fecha(aaaa/mm/dd)</td>
  	<td class="3">{}</td>
  	<td class="1">HORA</td>
  	<td class="3">{}</td>
  	<td class="1">NOMBRES Y APELLIDOS</td>
  	<td class="3">{}</td>
  	<td class="1">CÓDIGO</td>
  	<td class="3">{}</td>
  	<td class="1">FIRMA Y SELLO</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	</table>

  </body>
  </html>