<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">INSTITUCION DEL SISTEMA O NOMBRE DE LA EMPRESA</td>
  	<td Class="1">RUC</td>
  	<td Class="1">CIIU</td>
  	<td Class="1">ESTABLECIMIENTO DE SALUD</td>
  	<td Class="1">NÚMERO DE HISTORIA CLÍNICA</td>
  	<td Class="1">NÚMERO DE ARCHIVO</td>
  	</tr>
  	<tr>
  	<td>{NOMBRE_EMPRESA}</td>
  	<td>{RUC_EMPRESA}</td>
  	<td>{CIUDAD_EMPRESA}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	</tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PRIMER APELLIDO</td>
  	<td Class="1">SEGUNDO APELLIDO</td>
  	<td Class="1">PRIMER NOMBRE</td>
  	<td Class="1">SEGUNDO NOMBRE</td>
  	<td Class="1">SEXO</td>
  	<td Class="1">EDAD</td>
  	<td Class="1">RELIGION</td>
  	<td Class="1">GRUPO SANGÍNEO</td>
  	<td Class="1">LATERALIDAD</td>
  	</tr>
  	<tr>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
    <td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	</tr>
  	</table>	
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">ORIENTACION SEXUAL</td>
  	<td Class="1">IDENTIDAD DE GÉNERO</td>
  	<td Class="1">DISCAPACIDAD</td>
  	<td Class="1">FECHA DE INGRESO AL TRABAJO</td>
  	<td Class="1">PUESTO DE TRABAJO(CIUO)</td>
  	<td Class="1">ÁREA DE TRABAJO</td>
  	<td Class="1">ACTIVIDADES RELEVANTES AL PUESTO DE TRABAJO A OCUPAR</td>
  	</tr>
  	<tr>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
    <td>{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">B.MOTIVO DE LA CONSULTA (ANOTAR LA CAUSA DEL PROBLEMA EN LA VERSIÓN DEL INFORMANTE)</td>
    </tr>
  	<tr>
  	<td class="3">DESCRIPCIÓN:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">C.ANTECEDENTES PERSONALES</td>
    </tr>
    <tr>
  	<td class="1">ANTECEDENTES CLÍNICOS Y QUIRURGICOS:</td>
  	</tr>
  	<tr>
  	<td class="3">DESCRIPCIÓN:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="1">ANTECEDENTES GINECO OBSTÉTRICOS:</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="4" rowspan="2">MENARQUÍA:</td>
  	<td class="4" rowspan="2">CICLOS</td>
  	<td class="4" rowspan="2">FECHA ÚLTIMA MENTRUACIÓN</td>
  	<td class="4" rowspan="2">GESTAS</td>
  	<td class="4" rowspan="2">PARTOS</td>
  	<td class="4" rowspan="2">CESÁREAS</td>
  	<td class="4" rowspan="2">ABORTOS</td>
  	<td class="4" colspan="2">HIJOS</td>
  	<td class="4" colspan="1">VIDA SEXUAL ACTIVA</td>
  	<td class="4" colspan="2">MÉTODO DE PLANIFICACIÓN FAMILIAR</td>
  	</tr>
  	<tr>
  	<td class="4">VIVOS</td>
  	<td class="4">MUERTOS</td>
  	<td class="4">SI/NO</td>
  	<td class="4">SI/NO</td>
  	<td class="4">TIPO</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="4">EXÁMENES REALIZADOS:</td>
  	<td class="4">SI/NO</td>
  	<td class="4">TIEMPO</td>
  	<td class="4">RESULTADO</td>
  	<td class="4">EXÁMENES REALIZADOS:</td>
  	<td class="4">SI/NO</td>
  	<td class="4">TIEMPO</td>
  	<td class="4">RESULTADO</td>
  	</tr>
  	<tr>
  	<td class="3">PAPANICOLAOU</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">ECO MAMARIO</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">COLPOSCOPÍA</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">MAMOGRAFÍA</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="1">ANTECEDENTES REPRODUCTIVOS MASCULINOS:</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="4" rowspan="2">EXÁMENES REALIZADOS:</td>
  	<td class="4" rowspan="2">SI/NO</td>
  	<td class="4" rowspan="2">TIEMPO</td>
  	<td class="4" rowspan="2">RESULTADO</td>
  	<td class="4" rowspan="2">EXÁMENES REALIZADOS</td>
  	<td class="4" colspan="2">MÉTODO DE PLANIFICACIÓN FAMILIAR</td>
  	<td class="4" colspan="2">HIJOS</td>
  	</tr>
  	<tr>
  	<td class="4">SI/NO</td>
  	<td class="4">TIPO</td>
  	<td class="4">VIVOS</td>
  	<td class="4">MUERTOS</td>
  	</tr>
  	<tr>
  	<td class="3">ANTÍGENO PROSTÁTICO</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">ÉCO PROSTÁTICO</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="1" colspan="6">HÁBITOS TÓXICOS:</td>
  	<td class="1" colspan="4">ESTILO DE VIDA:</td>
  	</tr>
  	<tr>
  	<td class="4">CONSÚMOS NOCIVOS</td>
  	<td class="4">SI/NO</td>
  	<td class="4">TIEMPO DE CONSUMO</td>
  	<td class="4">CANTIDAD</td>
  	<td class="4">EX CONSUMIDOR</td>
  	<td class="4">TIEMPO DE ABSTINENCIA</td>
  	<td class="4">ESTILO</td>
  	<td class="4">SI/NO</td>
  	<td class="4">¿CUÁL?</td>
  	<td class="4">TIEMPO/CANTIDAD</td>
  	</tr>
  	<tr>
  	<td class="3">TABACO</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">ACTIVIDAD FÍSICA</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">ALCOHÓL</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3" rowspan="3">MEDICACIÓN HABITUAL</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">OTRAS DROGAS</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">D.ANTECEDENTES DE TRABAJO</td>
  	</tr>
    </table>
    <table class="1" border="1">
  	<tr>
  	<td class="1">ANTECEDENTES DE EMPLEADOS ANTRIORES</td>
  	</tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td class="1">EMPRESA</td>
  	<td class="1">PUESTO DE TRABAJO</td>
  	<td class="1">ACTIVIDADES QUE DESEMPEÑABA</td>
  	<td class="1">TIEMPO DE TRABAJO</td>
  	<td class="1">RIESGO</td>
  	<td class="1">OBSERVACIONES</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="1">ANTECEDENTES DE TRABAJO(DESCRIPCIÓN)</td>
  	</tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td class="3"> FUE CALIFICADO POR EL INSTITUTO DE SEGURIDAD SOCIAL CORRESPONDIENTE:</td>
  	<td class="3">SI</td>
  	<td class="3">ESPECIFICAR:&nbsp; {}</td>
  	<td class="3">NO</td>
  	<td class="3">FECHA:&nbsp; {}</td>
  	</tr>
  	<tr>
  	<td class="3" colspan="5">Observaciones:</td>
  	</tr>
  	<tr>
  	<td class="3" colspan="5">{}</td>
  	</tr>
  	</table>
  	
  	  	<table class="1" border="1">
  	<tr>
  	<td class="1">ENFERMEDADES PROFESIONALES</td>
  	</tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td class="3">FUE CALIFICADA POR EL INSTITUTO DE SEGURIDAD SOCIAL CORRESPONDIENTE: </td>
  	<td class="3">SI</td>
  	<td class="3">ESPECIFICAR:&nbsp; {}</td>
  	<td class="3">NO</td>
  	<td class="3">FECHA:&nbsp; {}</td>
  	</tr>
  	<tr>
  	<td class="3" colspan="5">Observaciones:</td>
  	</tr>
  	<tr>
  	<td class="3" colspan="5">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">E.ANTECEDENTES FAMILIARES(DETALLE PARENTESCO)</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">ENFERMEDAD CARDIO-VAZCULAR</td>
  	<td Class="1">ENFERMEDAD METABÓLICA</td>
  	<td Class="1">ENFERMEDAD NEUROLÓGICA</td>
  	<td Class="1">ENFERMEDAD ONCOLÓGICA</td>
  	<td Class="1">ENFERMEDAD INFECCIOSA</td>
  	<td Class="1">ENFERMEDAD HEREDITARIA/CONGÉNITA</td>
  	<td Class="1">DISCAPACIDES</td>
  	<td Class="1">OTROS</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="8">Observaciones:</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="8">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="8">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="8">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="8">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="8">{}</td>
  	</tr>
  	</table>
 
    <table class="1" border="1">
  	<tr>
  	<td Class="1" rowspan="2">PUESTO DE TRABAJO/ÁREA</td>
  	<td Class="1" rowspan="2">ACTIVIDADES</td>
  	<td Class="1" colspan="1">BIOLÓGICO</td>
  	<td Class="1" colspan="1">ERGONÓMICO</td>
  	<td Class="1" colspan="1">PSICOSOCIAL</td>
  	<td Class="1" rowspan="2">MEDIDAS PREVENTIVAS</td>
  	</tr>
  	<tr>
  	<td Class="1">{}</td>
  	<td Class="1">{}</td>
  	<td Class="1">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	</table>

	<table class="1" border="1">
  	<tr>
  	<td Class="2">G.ACTIVIDADES EXTRA LABORALES</td>
    </tr>
  	<tr>
  	<td class="3">Descripción:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">H.ENFERMEDAD ACTUAL</td>
    </tr>
  	<tr>
  	<td class="3">Descripción:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">I. REVISIÓN DE ÓRGANOS Y SISTEMAS</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PIEL-ANEXOS</td>
  	<td Class="1">RESPIRATORIO</td>
  	<td Class="1">DIGESTIVO</td>
  	<td Class="1">MÚSCULO ESQUELÉTICO</td>
  	<td Class="1">HEMOLINFÁTICO</td>
  	</tr>
  	<tr>
  	<td Class="1">ÓRGANOS DE LOS SENTIDOS</td>
  	<td Class="1">CARDIO-VASCULAR</td>
  	<td Class="1">GÉNITO URINARIO</td>
  	<td Class="1">ENDOCRINO</td>
  	<td Class="1">NERVIOSO</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="5">Observaciones:</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="5">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="5">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="5">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="5">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="5">{}</td>
  	</tr>
  	</table>	
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">J. CONSTANTES VITALES Y ANTROPOMETRÍA</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PRESIÓN ARTERIAL(mmHg)</td>
  	<td Class="1">TEMPERATURA(°c)</td>
  	<td Class="1">FRECUENCIA CARDIACA(lat/min)</td>
  	<td Class="1">SATURACIÓN DE OXÍGENO(02%)</td>
  	<td Class="1">FRECUENCIA RESPIRATORIA(fr/min)</td>
  	<td Class="1">PESO(kg)</td>
  	<td Class="1">TALLA(cm)</td>
  	<td Class="1">ÍNDICE DE MASA CORPORAL(kg/m2)</td>
  	<td Class="1">PERÍMETRO ABDOMINAL(cm)</td>
  	</tr>
  	<tr>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
    </tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">K.EXÁMEN FÍSICO REGIONAL</td>
  	</tr>
  	<tr>
  	<td Class="1">REGIONES</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">Observaciones:</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="3">L.RESULTADOS DE EXÁMENES GENERALES Y ESPECÍFICOS DE ACUERDO AL RIESGO Y PUESTO DE TRABAJO (IMAGEN, LABORATORIO Y OTROS)</td>
  	</tr>
  	<tr>
  	<td Class="1">EXÁMEN</td>
  	<td Class="1">FECHA(aaaa/mm/dd)</td>
  	<td Class="1">RESULTADOS</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="3">Observaciones:{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="2">M.DIAGNÓSTICO PRE=PRESUNTIVO DEF=DEFINITIVO</td>
  	<td Class="2">CIE</td>
  	<td Class="2">PRE</td>
  	<td Class="2">DEF</td>
  	</tr>
  	<tr>
  	<td Class="1" width="30px">1.</td>
  	<td Class="3">Observaciones:{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="1" width="30px">2.</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="1" width="30px">3.</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="1" width="30px">4.</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
    </table>
    <table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="2">N.APTITUD MÉDICA PARA EL TRABAJO</td>
  	</tr>
  	<tr>
  	<td Class="1" colspan="2">NAPTITUD MÉDICA PARA EL TRABAJO</td>
  	</tr>
  	<tr>
  	<td Class="4" width="150px">Observaciones:</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="4" width="150px">Limitación:</td>
  	<td Class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">O.RECOMENDACIONES Y/O TRATAMIENTO</td>
    </tr>
  	<tr>
  	<td class="3">Descripción:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="3">CERTIFICO QUE LO ANTERIORMENTE EXPRESADO EN RELACIÓN A MI ESTADO DE SALUD ES VERDAD. SE ME HA INFORMADO LAS MEDIDDAS PREVENTIVAS
  	PARA DISMINUIR O MITIGAR LOS RIESGOS RELACIONADOS CON MI ACTIVIDAD LABORAL</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="2" colspan="10">P.DATOS DEL PROFESIONAL</td>
  	<td class="2">Q.FIRMA DEL USUARIO</td>
  	</tr>
  	<tr>
  	<td class="1">Fecha(aaaa/mm/dd)</td>
  	<td class="3">{}</td>
  	<td class="1">HORA</td>
  	<td class="3">{}</td>
  	<td class="1">NOMBRES Y APELLIDOS</td>
  	<td class="3">{}</td>
  	<td class="1">CÓDIGO</td>
  	<td class="3">{}</td>
  	<td class="1">FIRMA Y SELLO</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	</table>

  </body>
  </html>