<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">INSTITUCION DEL SISTEMA O NOMBRE DE LA EMPRESA</td>
  	<td Class="1">RUC</td>
  	<td Class="1">CIIU</td>
  	<td Class="1">ESTABLECIMIENTO DE SALUD</td>
  	<td Class="1">NÚMERO DE HISTORIA CLÍNICA</td>
  	<td Class="1">NÚMERO DE ARCHIVO</td>
  	</tr>
  	<tr>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	</tr>
  	</table>
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PRIMER APELLIDO</td>
  	<td Class="1">SEGUNDO APELLIDO</td>
  	<td Class="1">PRIMER NOMBRE</td>
  	<td Class="1">SEGUNDO NOMBRE</td>
  	<td Class="1">SEXO</td>
  	<td Class="1">EDAD</td>
  	<td Class="1">PUESTO DE TRABAJO(CUIO)</td>
  	<td Class="1">FECHA DEL ÚLTIMO DÍA LABORAL</td>
  	<td Class="1">fECHA DE REINGRESO</td>
  	<td Class="1">TOTAL</td>
  	<td Class="1">CAUSA DE SALIDA</td>
  	</tr>
  	<tr>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
    <td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	<td>{}</td>
  	</tr>
  	</table>	
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">B.MOTIVO DE LA CONSULTA/CONDICIÓN DEL REINTEGRO</td>
    </tr>
  	<tr>
  	<td class="3">DESCRIPCIÓN:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="2">C.ENFERMEDAD ACTUAL</td>
    </tr>
  	<tr>
  	<td class="3">DESCRIPCIÓN:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
 
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">D. CONSTANTES VITALES Y ANTROPOMETRÍA</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="1">PRESIÓN ARTERIAL(mmHg)</td>
  	<td Class="1">TEMPERATURA(°c)</td>
  	<td Class="1">FRECUENCIA CARDIACA(lat/min)</td>
  	<td Class="1">SATURACIÓN DE OXÍGENO(02%)</td>
  	<td Class="1">FRECUENCIA RESPIRATORIA(fr/min)</td>
  	<td Class="1">PESO(kg)</td>
  	<td Class="1">TALLA(cm)</td>
  	<td Class="1">ÍNDICE DE MASA CORPORAL(kg/m2)</td>
  	<td Class="1">PERÍMETRO ABDOMINAL(cm)</td>
  	</tr>
  	<tr>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
	<td class="3">{}</td>
    </tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2">E.EXÁMEN FÍSICO REGIONAL</td>
  	</tr>
  	<tr>
  	<td Class="1">REGIONES</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">Observaciones:</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="3">F.RESULTADOS DE EXÁMENES(IMAGEN, LABORATORIO Y OTROS)</td>
  	</tr>
  	<tr>
  	<td Class="1">EXÁMEN</td>
  	<td Class="1">FECHA(aaaa/mm/dd)</td>
  	<td Class="1">RESULTADOS</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="3" colspan="3">Observaciones:{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="2">G.DIAGNÓSTICO</td>
  	<td Class="2">CIE</td>
  	<td Class="2">PRE</td>
  	<td Class="2">DEF</td>
  	</tr>
  	<tr>
  	<td Class="1" width="30px">1.</td>
  	<td Class="3">Observaciones:{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="1" width="30px">2.</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="1" width="30px">3.</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	<td Class="3">{}</td>
  	</tr>
  	</table>
    <table class="1" border="1">
  	<tr>
  	<td Class="2" colspan="2">H.APTITUD MÉDICA PARA EL TRABAJO</td>
  	</tr>
  	<tr>
  	<td Class="1" colspan="2">{}</td>
  	</tr>
  	<tr>
  	<td Class="4" width="150px">Observaciones:</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="4" width="150px">Limitación:</td>
  	<td Class="3">{}</td>
  	</tr>
  	<tr>
  	<td Class="4" width="150px">Rehubicación:</td>
  	<td Class="3">{}</td>
  	</tr>
  	</table>
  	
    <table class="1" border="1">
  	<tr>
  	<td Class="2">I.RECOMENDACIONES Y/O TRATAMIENTO</td>
    </tr>
  	<tr>
  	<td class="3">DESCRIPCIÓN:</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	<tr>
  	<td class="3">{}</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="3">CERTIFICO QUE LO ANTERIORMENTE EXPRESADO EN RELACIÓN A MI ESTADO DE SALUD ES VERDAD. SE ME HA INFORMADO LAS MEDIDDAS PREVENTIVAS
  	PARA DISMINUIR O MITIGAR LOS RIESGOS RELACIONADOS CON MI ACTIVIDAD LABORAL</td>
  	</tr>
  	</table>
  	
  	<table class="1" border="1">
  	<tr>
  	<td class="2" colspan="10">J.DATOS DEL PROFESIONAL</td>
  	<td class="2">K.FIRMA DEL USUARIO</td>
  	</tr>
  	<tr>
  	<td class="1">Fecha(aaaa/mm/dd)</td>
  	<td class="3">{}</td>
  	<td class="1">HORA</td>
  	<td class="3">{}</td>
  	<td class="1">NOMBRES Y APELLIDOS</td>
  	<td class="3">{}</td>
  	<td class="1">CÓDIGO</td>
  	<td class="3">{}</td>
  	<td class="1">FIRMA Y SELLO</td>
  	<td class="3">{}</td>
  	<td class="3">{}</td>
  	</tr>
  	</table>

  </body>
  </html>